AtomPair NZ 9A CG 121A HARMONIC 1.30 0.3
AtomPair CE 9A CG 121A HARMONIC 2.40 0.3
AtomPair 1HZ 9A OD1 121A HARMONIC 3.20 0.3
Angle CE 9A NZ 9A CG 121A CIRCULARHARMONIC 2.08 0.2 #119 deg
Angle NZ 9A CG 121A OD1 121A CIRCULARHARMONIC 2.08 0.2
Dihedral CE 9A NZ 9A CG 121A CB 121A CIRCULARHARMONIC 3.14159 0.2
Dihedral 1HZ 9A NZ 9A CG 121A OD1 121A CIRCULARHARMONIC 3.14159 0.2